## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## OS
Thumbs.db
.DS_Store
